<div class="main-container">
  <div class="container">
    <div class="retro-border">
      <h1 class="retro-h1">Sign Up</h1>
      <p class="retro-p">
        <a [routerLink]="['/login']">Have an account?</a>
      </p>
      <form class="retro-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset>
          <fieldset>
            <input
              type="text"
              placeholder="Username"
              formControlName="username"
            />
          </fieldset>
          <fieldset>
            <input type="text" placeholder="Email" formControlName="email" />
          </fieldset>
          <fieldset>
            <input
              type="text"
              placeholder="Password"
              formControlName="password"
            />
          </fieldset>
          <div class="center-button">
            <button
              class="retro-button"
              type="submit"
              [disabled]="isSubmitting$ | async"
            >
              Sign up
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
